<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="VS chat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProChatVer1"
        tools:targetApi="31" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.prochatver1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".Acitivities.DownloadService" />
        <service android:name=".Acitivities.Download" />
        <activity
            android:name=".Acitivities.toolOptions"
            android:exported="false" />
        <activity
            android:name=".Acitivities.DocumentViewer"
            android:exported="false" />
        <activity
            android:name=".Acitivities.MyVideo"
            android:exported="false" />
        <activity
            android:name=".Acitivities.Splash_activity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acitivities.FullVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.ViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.CallActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.Profile"
            android:exported="false" />
        <activity
            android:name=".Acitivities.OTP"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Acitivities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivities.SingUp"
            android:exported="false" />
    </application>

</manifest>